#miTabla.display tbody tr:nth-child(odd) {
    background-color: #f00c0c; /* Estilo zebra */
  }
  
#miTabla.display tbody tr:hover {
    background-color: #311175; /* Resaltar selección (puedes manejarlo con clases de DataTables también) */
  }
  
.search-filter {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.search-filter label {
    margin-right: 10px;
  }
  
.selected-items {
    margin-top: 10px;
    font-style: italic;
  }

.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    //background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus.search {
    width: 100%;
  }

