#miTabla.display tbody tr:nth-child(odd) {
    background-color: #f00c0c; /* Estilo zebra */
  }
  
#miTabla.display tbody tr:hover {
    background-color: #311175; /* Resaltar selección (puedes manejarlo con clases de DataTables también) */
  }
  
.search-filter {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.search-filter label {
    margin-right: 10px;
  }
  
.selected-items {
    margin-top: 10px;
    font-style: italic;
  }

.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    //background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus.search {
    width: 100%;
  }

.pagination {
    display: inline-block;
    text-align: center;
    //width: 100%;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 2px;
    font-size: 12px;
    width: 60px;
    cursor:pointer;
  }
  
.pagination a.active {
    color: white;
    border: 1px solid #4CAF50;
    //background-color: #4CAF50;
    //border-radius: 5px;
  }
.pagination a input[type="number"] {
    width: min-content;
    text-align: center;
    font-size: 12px;
    border: none;
    cursor:pointer;
    //color: white;
    //background-color: #4CAF50;
    //border: 1px solid #4CAF50;
    //border-radius: 5px;
    //margin: 0px;
  }

  .pagination a input[type="number"]:focus {
    outline: none;
    background-color: white;
  }

.pagination a:hover:not(.active) {background-color: #ddd;}
  
/*
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
*/

