<div>
  <label for="filtro">Filtrar:</label>
  <input type="text" id="filtro" class="search"
   [(ngModel)]="filtro" (keyup)="filtrarDatos()"
   placeholder="Buscar...">
</div>
<table id="miTabla" #miTabla class="display">
    <thead>
      <tr>
        <th (click)="sort('nombre',1)">Nombre</th>
        <th (click)="sort('edad',1)">Edad</th>
        <th (click)="sort('ciudad',1)">Ciudad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datosFiltrados">
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.edad }}</td>
        <td>{{ dato.ciudad }}</td>
        <td>
          <input type="checkbox" [(ngModel)]="dato.checked">
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="seleccionarFilas()">Filas Seleccionadas</button>
  <button (click)="seleccionarDatos()">Datos Seleccionados</button>
  <p> {{datos[0].nombre + " checked=" + datos[0].checked}} </p>
