<!-- Componente: UsuariosComponent -->
<app-list [entityName]="entityName" isRead="true" [status]="status">
<div lisTpl>

    <table id="miTabla" class="display">
      <thead>
          <tr>
              <th>#</th>
              <th (click)="sort('usuario')">Usuario</th>
              <th>Clave</th>
              <th>Estatus</th>
          </tr>
      </thead>
      <tbody>
      <!-- 
          @for (entity of entityService.db[entityName]; track entity.id) {            
      -->
          <tr *ngFor="let entity of entityService.tb[entityName]">
              <td>{{entity.id}}</td>
              <td>{{entity.usuario}}</td>
              <td>{{entity.password}}</td>
              <td>{{entity.estatus}}</td>
              <td>
                  <button type="button" (click)="selectRow(entity)">Update</button>
                  <button type="button" (click)="delete(entity)">Delete</button>
              </td>
          </tr>
      </tbody>
    </table>

</div>   
</app-list>