
<app-form #f entityName="funcions" name="hijoFuncion"
  (editChange)="setEdit($event)" >
  <div formTpl>

    <form id="idForm" #entityForm="ngForm" >
      <div class="row">					
        <label for="id">Id</label>
        <input type="number"
          id="id"  name="id" #inId="ngModel"  
          [(ngModel)]="entity.id" [readonly]="noEdit" 
          placeholder="..."
          required />
        <div *ngIf="inId.invalid && inId.touched">
          <small class="invalid">Campo Id obligatorio</small>
        </div>
      </div>
      <div class="row">
        <label for="funcion">Función</label>
        <input type="text"
          id="funcion" name="funcion"  #inFuncion="ngModel"
          [(ngModel)]="entity.funcion" [readonly]="noEdit" 
          placeholder="Teclee función..."
          required min="2" />
          <!-- @if (entityForm.controls['funcion'].invalid && entityForm.controls['funcion'].touched) { -->
          <div *ngIf="inFuncion.invalid && entityForm.controls['funcion']?.touched">
            <small class="invalid">Campo Función obligatorio</small>
          </div>
      </div>
      <div class="row">
        <label for="descripcion">Descripción</label>
        <textarea
          id="descripcion"  name="descripcion" #inDescripcion="ngModel" 
          [(ngModel)]="entity.descripcion" [readonly]="noEdit" 
          required >
        </textarea>
        <div *ngIf="inDescripcion.invalid && inDescripcion.touched">
          <small class="invalid">Campo Descripción obligatorio</small>
        </div>
      </div>
      <div class="row">    
        <label for="tipo">Tipo</label>
        <input type="text"
          id="tipo"  name="tipo" #inTipo="ngModel"
          [(ngModel)]="entity.tipo" [readonly]="noEdit" 
          placeholder="..."
          required />              
          <div *ngIf="inTipo.invalid && inTipo.touched">
            <small class="invalid">Campo Tipo obligatorio</small>
          </div>
        </div>
      <div class="row">    
        <label for="url">Url</label>
        <input type="url"
          id="url"  name="url" #inUrl="ngModel"
          [(ngModel)]="entity.url" [readonly]="noEdit"  
          placeholder="..." 
          required/>
        <div *ngIf="inUrl.invalid && inUrl.touched">
            <small class="invalid">Campo Url obligatorio</small>
        </div>
      </div>
      <div class="row">
        <label for="metodo">Método</label>
        <select
          id="metodo"  name="metodo" #inMetodo="ngModel"
          [(ngModel)]="entity.metodo" [disabled]="noEdit ? true : false" 
          placeholder="Seleccione..." 
          required >
          <option value="GET">GET</option>
          <option value="POST">POST</option>    
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
        <div *ngIf="inMetodo.invalid && inMetodo.touched">
          <small class="invalid">Campo método obligatorio</small>
        </div>
      </div> 
    </form>      

  </div>    
</app-form>
    