
<app-form #f entityName="funcions">
  <div formTpl>

    <form id="idForm" #entityForm="ngForm">					
      <label for="id">Id</label>
      <input type="text"
          id="id"  name="id" [(ngModel)]="entity.id"
          placeholder="..." />
      <label for="funcion">Funcion</label>
      <input type="text"
          id="funcion" name="funcion" [(ngModel)]="entity.funcion"
          required min="2"
          placeholder="..." />
        <!-- @if (entityForm.controls['funcion'].invalid && entityForm.controls['funcion'].touched) { -->
          <div *ngIf="entityForm.controls['funcion']?.invalid && entityForm.controls['funcion']?.touched">
            <small class="text-danger">El campo Funcion es obligatorio.</small>
          </div>          
      <label for="url">Url</label>
      <input type="text"
          id="url"  name="url" [(ngModel)]="entity.url"
          required
          placeholder="..." />
      <label for="metodo">metodo</label>
      <input type="text"
          id="metodo"  name="metodo" [(ngModel)]="entity.metodo"
          required
          placeholder="..." />
    </form>      

  </div>    
</app-form>
    