<app-list [entityName]="entityName" isRead="true" [status]="status">
      
<div lisTpl>
    {{entityName}} isRead={{isRead}}

    <div>
        <label for="filtro">Filtrar:</label>
        <input type="text" id="filtro" class="search"
         [(ngModel)]="filtro" (keyup)="filtrarDatos()"
         placeholder="Buscar...">
    </div>

    <table id="miTabla" class="display stripe" style="width:100%">
      <thead>
        <tr>
            <th>
                # <fa-icon [icon]="getIcon('id')" (click)="sort('id')"/></th>
            <th>
                Función <fa-icon [icon]="getIcon('funcion')" (click)="sort('funcion')"/></th>
            <th>
                Url <fa-icon [icon]="getIcon('url')" (click)="sort('url')"/></th>
            <th>
                Método <fa-icon [icon]="getIcon('metodo')" (click)="sort('metodo')"/></th>
            <th class="acciones">
                <label>Acciones</label>
                <input type="checkbox" id="seleccionarTodo"
                [(ngModel)]="checkAll" (change)="swCheckAll($event)">
            </th>
        </tr>
      </thead>
      <tbody>
    <!-- 
        @for (entity of entityService.db[entityName]; track entity.id) {
        -->
        <tr *ngFor="let entity of datosFiltrados">
            <td>{{entity.id}}</td>
            <td>{{entity.funcion}}</td>
            <td>{{entity.url}}</td>
            <td>{{entity.metodo}}</td>
            <td class="acciones">
                <button type="button" (click)="selectRow(entity)">
                    <fa-icon [icon]="faPenToSquare"/>
                    Editar</button>
                <button type="button" (click)="delete(entity)">
                    <fa-icon [icon]="faTrashCan"/>
                    Borrar</button>
                <input type="checkbox" class="checkFila"
                    [(ngModel)]="entity.checked" (change)="setCheckAll()">    
            </td>
        </tr>
    </tbody>
</table>
    <button class="select" (click)="procesarDatos(fxMayusculas)">Selección a Mayúsculas</button>
    <button class="select" (click)="procesarDatos(fxMinusculas)">Selección a Mínusculas</button>
 
    <div class="pagination">
        <a name="records" class="active">
          {{entityService.pg[entityName].totalElements}} registros
        </a>
        <a name="firstPage"
          (click)="readPage(0, entityService.pg[entityName].size)"
          *ngIf="entityService.pg[entityName].number != 1">
          <span>primera 1 |❮</span>
        </a>
        <a name="prevPage" 
            (click)="readPage(entityService.pg[entityName].number-2, entityService.pg[entityName].size)"
            *ngIf="entityService.pg[entityName].number > 1">
                <span>prévia&nbsp;❮</span>
        </a>
        <a name="goPage" class="active" 
            (click)="readPage(entityService.pg[entityName].number-1, entityService.pg[entityName].size)"
            title="página actual">
            <input type="number"
                [(ngModel)]="entityService.pg[entityName].number"
                (keydown)="onKeyDown($event, entityService.pg[entityName].number-1)"
                min="1" max="{{entityService.pg[entityName].totalPages}}" step="1" size="2">
        </a>
        <a name="nextPage"
            (click)="readPage(entityService.pg[entityName].number, entityService.pg[entityName].size)"
            *ngIf="entityService.pg[entityName].number < entityService.pg[entityName].totalPages"
            >
            <span> ❯ siguiente</span>
        </a>
        <a name="lastPage"
            (click)="readPage(entityService.pg[entityName].totalPages-1, entityService.pg[entityName].size)"
            *ngIf="entityService.pg[entityName].number < entityService.pg[entityName].totalPages">
            <span>❯| {{entityService.pg[entityName].totalPages}} última</span>
        </a>
        <a name="sizePage" class="active"
            (click)="readPage(0, entityService.pg[entityName].size)"
            title="registros por página">
            <input type="number"
                [(ngModel)]="entityService.pg[entityName].size"
                (keydown)="onKeyDown($event, 0)"
                min="1" max="100" step="1" size="2">
          </a>
        </div>
</div>
</app-list>