<app-list [entityName]="entityName" isRead="true" [status]="status">
      
<div lisTpl>
    {{entityName}} isRead={{isRead}}

    <table id="miTabla" class="display stripe" style="width:100%">
        <thead>
        <tr>
            <th><input type="checkbox" id="seleccionarTodo"></th>
            <th>#</th>
            <th>Funcion</th>
            <th>Url</th>
            <th>Metodo</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
    <!-- 
        @for (entity of entityService.db[entityName]; track entity.id) {
        -->
        <tr *ngFor="let entity of entityService.db[entityName]">
            <th><input type="checkbox" class="checkFila"></th>
            <td>{{entity.id}}</td>
            <td>{{entity.funcion}}</td>
            <td>{{entity.url}}</td>
            <td>{{entity.metodo}}</td>
            <td>
                <button type="button" (click)="selectRow(entity)">Update</button>
                <button type="button" (click)="delete(entity)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

</div>
</app-list>