#miTabla.display {
border: silver 1px solid; 
}

#miTabla.display thead {
  color: lightcyan;
  background-color: navy;
}

#miTabla.display tbody tr:nth-child(even) {
  background-color: #868282; /* Estilo zebra */
}

#miTabla.display tbody tr:hover {
  background-color: #249eb3; /* Resaltar selección (puedes manejarlo con clases de DataTables también) */
}

#miTabla.display thead th.acciones {
  width: 160px;
}
#miTabla.display thead th label {
  margin-left: 38px; 
  margin-right: 10px; 
}
#miTabla.display thead th input[type="checkbox"] {
  width: 20px;
  margin-left: 26px; 
  margin-right: 5px; 
}
#miTabla.display tbody td:has(input[type="checkbox"]:checked) {
  background-color:#007bff;
}

.search {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-image: none; // url('/src/assets/lupa.png'); /* Cambia la ruta a tu icono de búsqueda */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus.search {
  width: 100%;
}

.btn {
    display: inline-block;
    padding: 4px 8px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

.select {
  float: left;
  margin-top: 10px;
}
  
.pagination {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 0px 0px 8px 0px;
  //padding-top: 15px;
  //padding-bottom: 15px;
  //border: 1px solid #ddd;
  //background-color: #d4d7dc;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 2px;
  font-size: 12px;
  width: 60px;
  cursor:pointer;
}

.pagination a.active {
  border: 1px solid #4CAF50;
  //color: white;
  //background-color: #4CAF50;
  //border-radius: 5px;
}
.pagination a input[type="number"] {
  width: min-content;
  text-align: center;
  font-size: 12px;
  border: none;
  cursor:pointer;
  //color: white;
  //background-color: #4CAF50;
  //border: 1px solid #4CAF50;
  //border-radius: 5px;
  //margin: 0px;
}

.pagination a input[type="number"]:focus {
  outline: none;
  background-color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
*/


