<div #lista >
	<ng-container *ngTemplateOutlet="headerTpl"></ng-container>				
  <ng-content select="[lisTpl]" ></ng-content>
  <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
</div>

<ng-template #headerTpl>
  <h3> Lista {{entityName}}</h3> 
  <a class="btn btn-primary"
    routerLink="{{`/${entityName}/create`}}"
  >    <!-- (click)="handleLinkClick($event)" -->
    Create
  </a>        
</ng-template>

<ng-template #footerTpl>
  <!-- @if (msg) { -->
    <p class="alert alert-danger">
        {{ status }}
    </p>
</ng-template>
