<div>
	<ng-container *ngTemplateOutlet="headerTpl"></ng-container>				
    <ng-content select="[slot=lisTpl]"></ng-content>
    <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
</div>

<ng-template #headerTpl>
  <h3> Lista {{entityName}}</h3> 
  <button type="button" routerLink="{{`/${entityName}/create`}}">Create</button>       
</ng-template>

 <!--
  <table>
    <thead>
        <tr>
            <th>#</th>
            <th>Usuario</th>
            <th>Clave</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
    <!
        @for (entity of entityService.db[entityName]; track entity.id) {
        ->
        <tr *ngFor="let entity of entityService.db[entityName]">
            <td>{{entity.id}}</td>
            <td>{{entity.usuario}}</td>
            <td>{{entity.password}}</td>
            <td>{{entity.estatus}}</td>
            <td>
                <button type="button" (click)="selectRow(entity)">Update</button>
                <button type="button" (click)="delete(entity)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>
-->

<ng-template #footerTpl>
  <p>Aviso: {{msg}} </p>
  <p *ngIf="error" > Error: {{error}} </p>
</ng-template>

