<div>
  <h3>Lista {{entityName}}</h3>
  <button type="button" routerLink="['/angular', entityName, 'create']">Create</button>
  <table>
    <thead>
        <tr>
            <!--<th>#</th>-->
            <th>Usuario</th>
            <th>Estatus</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        <!-- 
        @for (entity of entityService.db[entityName]; track entity.id) {
         -->
        <tr>
            <!--<td>{{entity.id}}</td>-->
            <td>{{entity.usuario}}</td>
            <td>{{entity.estatus}}</td>
            <td>{{entity.roles}}</td>
            <td>
                <button type="button" (click)="selectRow(entity)">Update</button>
                <button type="button" (click)="delete(entity)">Delete</button>
            </td>
        </tr>
        
    </tbody>
  </table>
</div>
