/* 
    Created on : 15/07/2014, 01:41:55 PM
    Author     : Hars
*/
/* CSS Tree menu styles */

ul.tree
{
    background-color: #606061; color: #ffffff; margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1em; /* Sets font tree base size to 16px */ 
    position: relative;  
    padding: 0 0 0 30px;
    width: 100%;
}
.tree li 
{ 
    position: relative;
    margin-left: -15px;
    list-style: none;
}
.tree li.file
{
    margin-left: -1px !important;
}
.tree li.file a
{
    background: url(../img/document.png) 0 0 no-repeat;
    color: #fff;
    padding-left: 21px;
    text-decoration: none;
    display: block;
}
.tree li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
.tree li input + ul
{
    background: url(../img/plus.png) 40px 0 no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px -44px*/
    height: 1em;
}
.tree li input + ul > li
{
    display: none; margin-left: -14px !important; padding-left: 1px;
}
.tree li label
{
        background: url(../img/folder.png) 15px 1px no-repeat;
        cursor: pointer;
        display: block;
        padding-left: 37px; /* 37px */
}
.tree li input:checked + ul
{
        background: url(../img/minus.png) 40px 5px no-repeat;
        margin: -1.25em 0 0 -44px; /* 20px */
        padding: 1.563em 0 0 80px;
        height: auto;
}
.tree li input:checked + ul > li 
{
    display: block; margin: 0 0 0.125em;  /* 2px */
}
.tree li input:checked + ul > li:last-child {
    margin: 0 0 0.063em; /* 1px */ 
}

.myTag {background-color: cyan;}
.myhoja{background-color: green;}