<h5 _ngcontent-ng-c623935204="">Tree works! Empresa</h5>
<!--bindings={"ng-reflect-ng-if": "true"}-->
<ul _ngcontent-ng-c623935204="" class="tree">
    <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.10 0</a></li>
        <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
        <!--container--><!--ng-container-->
    <li _ngcontent-ng-c623935204="" class="file"><label _ngcontent-ng-c623935204="" for="rama1">Area.20 1</label><input _ngcontent-ng-c623935204="" type="checkbox" id="rama1">
        <app-tree _ngcontent-ng-c623935204="" isheader="lista" class="mytag" _nghost-ng-c623935204="" ng-reflect-is-header="lista" ng-reflect-areas="[object Object]">
            <!--bindings={"ng-reflect-ng-if": "false"}-->
            <ul _ngcontent-ng-c623935204="" class="lista">
                <li _ngcontent-ng-c623935204=""><label _ngcontent-ng-c623935204="" for="rama0">Area.21 0</label><input _ngcontent-ng-c623935204="" type="checkbox" id="rama0">
                    <app-tree _ngcontent-ng-c623935204="" isheader="lista" class="mytag" _nghost-ng-c623935204="" ng-reflect-is-header="lista" ng-reflect-areas="[object Object]">
                        <!--bindings={"ng-reflect-ng-if": "false"}-->
                        <ul _ngcontent-ng-c623935204="" class="lista">
                            <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.211 0</a></li>
                            <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
                            <!--container--><!--ng-container-->
                            <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.212 1</a></li>
                            <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
                            <!--container--><!--ng-container-->
                            <!--bindings={"ng-reflect-ng-for-of": "[object Object],[object Object"}-->
                        </ul>
                    </app-tree>
                </li>
                <!--ng-container--><!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
                <!--container--><!--ng-container-->
                <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.22 1</a></li>
                <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
                <!--container--><!--ng-container-->
                <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.23 2</a></li>
                <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
                <!--container--><!--ng-container-->
                <!--bindings={"ng-reflect-ng-for-of": "[object Object],[object Object"}-->
            </ul>
        </app-tree>
    </li>
    <!--ng-container--><!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
    <!--container--><!--ng-container-->
    <li _ngcontent-ng-c623935204=""><a _ngcontent-ng-c623935204="" href="#">Area.30 2</a></li>
    <!--bindings={"ng-reflect-ng-if-else": "[object Object]"}-->
    <!--container--><!--ng-container-->
    <!--bindings={"ng-reflect-ng-for-of": "[object Object],[object Object"}-->
</ul>

<!-- -->
<h5>Sample Html Tree works! {{ dato }}</h5> 
<ul class="tree">
    <li class="file"><a href=#>hoja.1</a></li>
    <li>
    <label for="rama1">rama.2</label>
    <input type="checkbox" id="rama1">
    <ul class="lista">
        <li class="file"><a href=#>hoja.2.1</a></li>
        <li>
            <label for="rama1">rama.2</label>
            <input type="checkbox" id="rama1">
            <ul class="lista">
                <li class="file"><a href=#>hoja.2.1</a></li>
                <li>
                    <label for="rama1">rama.2</label>
                    <input type="checkbox" id="rama1">
                    <ul class="lista">
                        <li class="file"><a href=#>hoja.2.1</a></li>
                        <li class="file"><a href=#>hoja.2.2</a></li>
                        <li class="file"><a href=#>hoja.2.3</a></li>
                    </ul>
                </li>
                <li class="file"><a href=#>hoja.2.3</a></li>
            </ul>
        </li>
        <li class="file"><a href=#>hoja.2.3</a></li>
    </ul>
    </li>
    <li class="file"><a href=#>hoja.3</a></li>
</ul>
<!-- -->
