<div class="container">
	<ng-container *ngTemplateOutlet="headerTpl"></ng-container>
  <ng-content select="[formTpl]"></ng-content>
  <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
</div>

<ng-template #headerTpl>
  <h3>Forma: {{entityName}}</h3>        
</ng-template>
  
<ng-template #footerTpl >
  <div class="row">
    <button (click)="back()">Cerrar</button>
    <button (click)="delete()" [disabled]="entityForm.invalid" *ngIf="isUpdate">Borrar</button>
    <button (click)="edit()" *ngIf="noEdit">Edit</button>
    <button (click)="save()" *ngIf="!noEdit" [disabled]="entityForm.invalid">Guardar</button>
  </div>
  <p [ngClass]="status.startsWith('Error: ')  ? 'status alert' : 'status'">
     {{ status }} <br>
  </p>
</ng-template>
