<!-- This is the root component of the Angular application. It contains the main layout and the router outlet for displaying routed components. -->
<header>
  <h1>R.S.R. Entity Form App</h1>
</header>
<app-menu></app-menu>
<div class="content">
  <aside class="sidebar">  
    <h2>Navigation</h2>
    <app-nav></app-nav>
  </aside>  
  <main class="main-content">
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</main>
</div>
<footer>
  <p>&copy; 2025 My Angular App</p>
</footer>

